* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

form {
    height: 100%;
}

.search-box {
    float: right;
    height: 80%;
    position: relative;
    margin: 2.5rem 3.5rem 0 0;
}

input[type='text'] {
    width: 24rem;
    height: 60px;
    border: none;
    outline: none;
    background: rgb(11 1 1 / 63%);
    padding: 0 0 0.3rem 3.6rem;
    color: #ffffff;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.app-wrap{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}


main{
    position: absolute;
    top: 30%;
    width: 90%;
    margin-left: 10%;
    color: #f3f3f3;
}

.city{
     font-size: 4rem;
     line-height: 3.5rem;
     margin-bottom: 1rem;
     font-weight: 800;
     letter-spacing: 0.1rem;
}

.weather{
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
}

.temp{
    font-size: 7rem;
    font-weight: 900;
    font-family: 'Nunito',
    sans-serif;
    position: relative;
}

.date{
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}